@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar>
        <MudText Typo="Typo.h6" Class="pr-4"><span style='font-size:30px;'>&#128659;</span> Dispatch</MudText>
    </MudAppBar>
    
    @* <MudDrawer Open="true"> *@
    @* *@
    @* </MudDrawer> *@
    
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>